<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to aware Agents team!</title>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('app_welcome') }}">
                <img src="{{ absolute_url(asset('build/images/email/logo.png')) }}" class="logo" alt="Tomato & Co. Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Welcome to the team {{ user.firstName }}!</h1>
            <p class="block">
                Welcome to <strong>aware team</strong>, we can't to work with you .
                Get started on your first ticket and look around our website to get yourself comfortable .
            </p>
                We're so excited that you've decided to join us in our corner of the universe,
                it's a friendly one with other creative and insightful writers just like you!
                Need help from a friend? We're always just a message away.
            </p>
        </div>
        <div class="footer">
            <p class="block">
                With best regards,<br><br>
                Your  <em>Management Team</em>
            </p>
        </div>
    </div>
</div>
</body>
</html>

